/*Universe Log-In Page CSS */
/*Index Styles*/
/*Each Rule Begins With a Selector*/
/*classes begin with a dot . */

/*For the reactive make the main nav go horiz to vertical*/

html{background:url('../Images/UniverseImageUpdated.jpg');}

/*
.container {
	display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:280px;
}
}
*/

div.main-nav{
  text-align: center;
}

li{display: inline-block;
  padding: 20px 20px;
  }

li a {
  color: white;
  font-family: fantasy;
  list-style-type: none;
  display: inline-block;
  }

li a:hover{color: blue}

li a:active{font-style: italic;}


@media screen and (max-width: 700px) {
    li {
        display : block;
        text-align: center;
    }
}

legend{
  text-align: center;
  font-size: 20pt;
  font-family:cursive;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 20px;

}

.number{
  color:white;
  padding-bottom: 0px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

label.Education{
  float: right;
  padding-right: 10px;
}

h1 {text-align: center;
  color: lightblue;
  padding-top: 0px;
}

p{color:white;
font-family: fantasy;
text-align: center;
}

form {
  width: 400px;
  padding-left: 50px;
}

@media screen and (max-width: 700px) {
    form {
        padding-left: 5px;
    }
}

fieldset {border: 0;
padding-bottom: 10px;
}


label{color: white;
  font-family: fantasy;
}

input{
  float: right;
  height: 12px;
}

textarea{
  float: right;
}

button{
  float: right;
  background-color: Transparent;
  color: white;
  border-radius: 20%;
}

.location{
  color: inherit;
}

main{flex:1}


footer{
  color: gray;
  text-align: center;
  padding-top: 15px;
}
